@model IEnumerable<BibleStudy.Models.VerseContent>
    @{
        /**/

        ViewBag.Title = "Verses";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
@*The "href" below is used to back to the previus page*@
<h2>@ViewBag.ChapterAuthor &nbsp; <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a></h2>

<table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerseContent1)
            </th>
            <th></th>
        </tr>

        @foreach(var it in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => it.Verse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => it.VerseContent1)
                </td>
            </tr>
        }
</table>




